/* ========================================================================== */
/* ESTILOS EXCLUSIVOS PARA A PÁGINA DESCRICAO.HTML                             */
/* ========================================================================== */

#description-image {
  /* REDUÇÃO DO TAMANHO DA IMAGEM PARA EVITAR SOBREPOSIÇÃO */
  width: 150px;
  /* Largura menor por padrão (mobile) */
  height: 150px;
  /* Altura igual à largura para manter o círculo */
  object-fit: cover;
  border-radius: 50%;
  /* Círculo perfeito */
  border: 15px double var(--color-border);
  box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.4);
}

/* Estilo para criar espaçamento entre os itens da lista */
.welcome-text ul li {
  margin-bottom: 0.8rem;
  text-align: justify;
}

.welcome-text ul li:last-child {
  margin-bottom: 0;
}

.controlsDesc {
  display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
  position: fixed;
  height: 5rem;
  bottom: 2.5rem;
  left: 0;
  width: 100%;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.85);
  box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  z-index: 100;
  margin-top: 0;
}

/* ========================================================================== */
/* 4. Responsividade                                                          */
/* ========================================================================== */

@media (max-width: 767px) {
  .welcome-text ul {
    padding-left: 1.5rem;
  }
}

/* A partir de 768px (tablets) */
@media (min-width: 768px) {

  h1 {
      text-align: center;
    } 

  #description-image {
    /* Ajuste para tablets, mantendo o círculo */
    width: 230px;
    height: 230px;
  }
}

/* Para telas maiores */
@media (min-width: 1024px) {

  #description-image {
    /* Ajuste para desktops, mantendo o círculo */
    width: 250px;
    height: 250px;
  }
}

#theory-btn {
  background: linear-gradient(135deg, #002e00, #068531);
  border-color: #d3f1cf;
}