#DescPas1 {
    /* Estilos do botão são mantidos, mas com layout flexível */
    display: block;
    width: 250px;
    max-width: 100%;
    /* Garante que não ultrapasse a tela */
    height: 40px;
    border-radius: 10px;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.9);
    text-shadow: 2.5px 2.5px 1px rgba(82, 65, 65, 0.9);
    color: white;
    border: outset 4px #f0a8a8;
    background: linear-gradient(to right, #350202, #6b0505, #e81414, #f69605, #daa96c, #f6ad47);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}