/* Estilo index */

/* Configurações gerais */
body {
  font-size: 1rem; /* Usando rem para ajustar com base no tamanho da fonte raiz */
}

/* Container do jogo */
#game-container {
  display: flex;
  flex-direction: row;
}

/* Orientação */
.orientacao {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 2rem; /* Usando rem para margens */
  padding: 6px;
  border: 1px solid #ccc;
  background-color: transparent;
  width: 33.125rem; /* Usando rem para largura */
  height: 67vh;
}

/* Títulos */
h1 {
  margin-top: 0.0625rem;
  font-size: 2.5rem;
  padding: 0.125rem;
  color: white;
  filter: drop-shadow(0.625rem 0.625rem 0.125rem gray);
}

h1:hover {
  transform: scale(1.1);
  box-shadow: 0 1.875rem 1.875rem rgba(255, 255, 255, 1);
  animation: spin 5s linear infinite;
  border-radius: 40%;
}

h3 {
  text-align: center;
  font-size: 1.25rem;
  padding: 0.625rem;
  margin: 0.3125rem;
  background-color: transparent;
}

h4,
p {
  text-align: justify;
  font-size: 0.875rem;
  padding-left: 0.625rem;
}

li,
ol {
  text-align: left;
  font-size: 0.875rem;
  margin-left: 0.3125rem;
}

/* Imagens */
#img {
  filter: drop-shadow(0.625rem 0.625rem 0.125rem);
  background-image: url("../imagens/Logo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 33.125rem;
  height: 100%;
}

/* Controles */
.controls2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 20px;
  margin-left: 1.5625rem;
  margin-right: 1.5625rem;
  padding: 10px;
  border: solid outset 0.3125rem #ccc;
  background-color: transparent;
}

.controls2 button {
  width: 11.25rem;
  height: 2.5rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 0.3125rem;
  padding: 1.25rem;
  font-size: 1rem;
  cursor: pointer;
  border: outset 0.3125rem rgb(151, 151, 181);
  border-radius: 0.3125rem;
  background: linear-gradient(
    45deg,
    #006782 40%,
    #0b1284 50%,
    #760ea1 60%,
    #83096e
  );
  color: white;
  transition: 0.2s;
}

.controls2 button:hover {
  background-color: lightseagreen;
  transform: scale(1.1);
}

.controls2 button:active {
  transform: scale(0.95);
}

/* Texto especial */
#tbem {
  margin: 0.3125rem;
  font-size: 1.5rem;
  text-align: center;
  color: transparent;
  background-clip: text;
  background-color: hsl(34, 53%, 82%);
  background-image: repeating-linear-gradient(
    45deg,
    #d7dd60 0%,
    #e4f52a 20%,
    #f3a322 30%,
    #f5511b 40%,
    #230f07 50%,
    #37094a 60%,
    #83096e 70%,
    #840b2a 80%,
    #623c59 90%,
    #ef0a0a 100%
  );
  text-shadow: 0.125rem 0.125rem 0.25rem rgba(0, 0, 0, 0.5);
}

#tbem:hover {
  transform: scale(1.1);
  text-shadow: 0 0.3125rem 0.3125rem white;
  animation: spin 5s linear infinite;
}